@import url("reset.css");

:root {
  --text-main: #EF6262;
  --text-main-shadow: #468B97;

  --text-secondary: #F3AA60;

  --card-top: #1D5B79;

  --checkboard1: #F3AA60; 
  --checkboard2: #FFE89E;

  --input: #468B97;
  --input-focus: #EF6262;
  --input-text: #F3AA60; 

  --btn-shadow: #EF6262;
  --btn-hover: #257399;

  --header-main: #1D5B79;
  --header-secondary: #F3AA60; 

/* BLUE #1D5B79
light blu #468B97
red #EF6262
orange #F3AA60
yellow #FFE89E */
}

body {
  font-family: "Helvetica";
  background: repeating-conic-gradient(var(--checkboard1) 0% 25%, var(--checkboard2) 0% 50%) 50% / 20px 20px;
  background-size: 50px 50px;
  background-position: 0 0, 50px 50px;
  animation: slideAnimation 20s linear infinite;
  overflow: hidden;
}


@keyframes slideAnimation {
  0% {
    background-position: 0 0, 50px 50px;
  }
  100% {
    background-position: 100px 100px, 150px 150px;
  }
}


.header-text {
  text-align: center;
  font-size: 50px;
  letter-spacing: 4px;
  margin-top: 30px;
  margin-bottom: 15px;
  white-space: nowrap;
  user-select: none;
  color: var(--header-main);; 
  text-shadow: 3px 3px 0px var(--header-secondary);
  font-weight: 999
}


.search-input {
  border-style: none;
  border-radius: 20px;
  font-size: 30px;
  background-color: var(--input);
  width: 400px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  color: var(--input-text);
  font-weight: 700;
}

.search-input:focus {
  outline: 2px solid var(--input-focus); ;
}


.search-btn {
  font-size: 25px;
  width: 350px;
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--text-secondary);
  background-color: var(--card-top);
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px var(--btn-shadow);
  letter-spacing: 2px;
  font-weight: 999;
  user-select: none;
}

.search-btn:hover {background-color: var(--btn-hover);}

.search-btn:active {
  background-color: var(--btn-hover);;
  box-shadow: 0 5px var(--btn-shadow);;
  transform: translateY(4px);
}


#page-wrapper {
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
}



#desc-container {
  display: flex;
  gap: 20px;
  /* justify-content: space-between */
}


.center {
  display: flex;
  justify-content: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

#card-body {
  background-color: var(--card-top);;
  height: 500px;
  min-width: 500px;
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
  white-space: nowrap;
  user-select: none;
  color: var(--text-secondary);;
  /* text-shadow: 2px 2px 0px var(--text-main-shadow);; */
  font-weight: 999
}

#card-name {
  font-size: 50px;
  color: var(--text-main);;
  text-shadow: 3px 3px 0px var(--text-main-shadow);;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s; /* 1s is the duration of the animation */
}


/* Target smartphones in portrait and landscape mode */
@media only screen and (max-width: 1000px) {
  #page-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  #card-body {
    min-width: 425px;
}

.card-text {
  font-size: 20px;
  letter-spacing: 2px;
}

.header-text {
  font-size: 40px;
}

#card-name {
  font-size: 40px;
}

}
